###
### ejabberd configuration for V2 Messaging System
### Minimal config - just what we need
### Author: Messenger
### Date: 2025-12-04
###

hosts:
  - smoothcurves.nexus

loglevel: info

listen:
  - port: 5222
    ip: "::"
    module: ejabberd_c2s
    max_stanza_size: 262144
    starttls_required: false

  - port: 5280
    ip: "::"
    module: ejabberd_http
    tls: false
    request_handlers:
      /admin: ejabberd_web_admin
      /api: mod_http_api
      /bosh: mod_bosh
      /ws: ejabberd_http_ws

auth_method: internal

acl:
  admin:
    user:
      - lupo@smoothcurves.nexus
      - system@smoothcurves.nexus
  local:
    user_regexp: ""

access_rules:
  local:
    allow: local
  c2s:
    allow: all
  announce:
    allow: admin
  configure:
    allow: admin
  muc_create:
    allow: local

shaper:
  normal: 3000
  fast: 100000

shaper_rules:
  max_user_sessions: 50
  max_user_offline_messages: 5000
  c2s_shaper:
    none: admin
    normal: all

modules:
  mod_adhoc: {}
  mod_admin_extra: {}
  mod_announce:
    access: announce
  mod_bosh: {}
  mod_caps: {}
  mod_configure: {}
  mod_disco: {}
  mod_http_api: {}

  mod_mam:
    assume_mam_usage: true
    default: always

  mod_muc:
    access:
      - allow
    access_admin:
      - allow: admin
    access_create: muc_create
    access_persistent: muc_create
    default_room_options:
      mam: true
      persistent: true
      public: false
      members_only: false

  mod_muc_admin: {}
  mod_offline:
    access_max_user_messages: max_user_offline_messages
  mod_ping: {}
  mod_privacy: {}
  mod_private: {}
  mod_roster:
    versioning: true
  mod_vcard: {}
  mod_version: {}

api_permissions:
  "console commands":
    from:
      - ejabberd_ctl
    who: all
    what: "*"
  "admin access":
    who:
      access:
        allow:
          - acl: admin
    what: "*"
  "public commands":
    who: all
    what:
      - status
      - connected_users_number
      - register
      - unregister
      - check_account
      - send_message
      - send_message_chat
      - user_sessions_info
      - connected_users
      - connected_users_vhost
      - set_presence
      - get_presence
      - create_room
      - create_room_with_opts
      - destroy_room
      - get_room_affiliations
      - set_room_affiliation
      - get_room_occupants
      - get_room_occupants_number
      - subscribe_room
      - unsubscribe_room
      - send_direct_invitation
      - get_user_rooms
      - get_roster
      - add_rosteritem
      - delete_rosteritem
